html {
  --scrollbarBG: #e5e7eb;
  --thumbBG: #b202b2;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

h3.partial-line {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2rem;
}

h3.partial-line::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 1.5em;
  width: calc(100% - 80px);
  height: 2px;
  background: none repeat scroll 0 0 #b202b2;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vmin;
  height: 3vmin;
  border: 2px solid #ff03ff;
  border-radius: 100% 10%;
  pointer-events: none;
}

.fixed {
  position: fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo::before {
  position: absolute;
  display: block;
  content: "";
  width: 3vmin;
  height: 3vmin;
  border: 2px solid #a85bee;
  border-radius: 10% 100%;
  pointer-events: none;
}

.logo::after {
  position: absolute;
  display: block;
  content: "";
  width: 1vmin;
  height: 1vmin;
  background-color: #c084fc;
  border-radius: 50%;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer {
  background-image: url(../images/bg-waves.svg);
}

.counter-bg {
  background: linear-gradient(45deg, #311b92 50%, #222 50%);
  background-size: 7%;
  background-position: center;
}

.request-bg {
  background-image: url(../images/art.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-timeline {
  background-image: url(../images/request-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-transition {
  opacity: 0.8;
  transition: all 0.5ms;
}

.bg-transition h2,
.bg-transition p,
.bg-transition a {
  transition: all 0.5s;
}

.bg-transition:hover > h2,
.bg-transition:hover > p {
  color: #f1f5f9;
}

.bg-transition:hover {
  opacity: 1;
  background: linear-gradient(45deg, #000, 50%, #111 50%);
  background-position: center;
}

.bg-transition:hover * a {
  background-color: #7e22ce !important;
  color: #fff !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 1px solid #c084fc;
}
.MuiFormLabel-root {
  color: #c084fc;
}

/** swiper **/
.swiper-button-next,
.swiper-button-prev {
  color: #a855f7 !important;
}

.swiper-pagination-bullet {
  background-color: #c084fc !important;
}

/** icons **/
.icon:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/** global media query **/
@media screen and (max-width: 640px) {
  .logo {
    width: 7vmin;
    height: 7vmin;
  }
  .logo::before {
    width: 7vmin;
    height: 7vmin;
  }
  .logo::after {
    width: 2vmin;
    height: 2vmin;
  }

  .counter-bg {
    background-size: 25%;
    background: linear-gradient(0, #512da8 60%, #311b92 40%);
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
